spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: billing-service
          uri: lb://billing-service
          predicates:
            - Path=/api/billing/**
        - id: customer-service
          uri: lb://customer-service
          predicates:
            - Path=/api/customers/**
        - id: inventory-service
          uri: lb://inventory-service
          predicates:
            - Path=/api/inventory/**

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
